@font-face {
	font-family: 'cck';
	src:url('../fonts/cck.eot');
	src:url('../fonts/cck.eot?#iefix') format('embedded-opentype'),
		url('../fonts/cck.ttf') format('truetype'),
		url('../fonts/cck.woff') format('woff'),
		url('../fonts/cck.svg#cck') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="myicon-cck-"] {
	font-family: 'cck';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-title [class*="myicon-cck-"] {
	margin-right: 10px;
}
div.sidebar-nav.quick-icons [class*="myicon-cck-"] {
	margin-right: 9px;
}

.myicon-cck-template:before {
	content: "\74";
}
.myicon-cck-multisite:before {
	content: "\6d";
}
.myicon-cck-products:before {
	content: "\70";
}
.myicon-cck-resources:before {
	content: "\72";
}
.myicon-cck-search:before {
	content: "\73";
}
.myicon-cck-application:before {
	content: "\60";
}
.myicon-cck-addon:before {
	content: "\41";
}
.myicon-cck-joomla:before {
	content: "\6a";
}
.myicon-cck-plugin:before {
	content: "\6f";
}
.myicon-cck-seblod:before {
	content: "\53";
}
.myicon-cck-variation:before {
	content: "\76";
}
.myicon-cck-community:before {
	content: "\63";
}
.myicon-cck-form:before {
	content: "\66";
}
.myicon-cck-services:before {
	content: "\56";
}
