.formError {z-index: 990;}
.formError .formErrorContent {z-index: 991;}
.formError .formErrorArrow {z-index: 996;}
.ui-dialog .formError {z-index: 5000;}
.ui-dialog .formError .formErrorContent {z-index: 5001;}
.ui-dialog .formError .formErrorArrow {z-index: 5006;}

.inputContainer {position: relative; float: left;}
.formError {position: absolute; top: 300px; left: 300px; display: block; cursor: pointer;}
.formError.inline {position: relative; top: 0; left: 0; clear:left;}
.ajaxSubmit {padding: 20px; background: #55ea55; border: 1px solid #999; display: none;}

.formError .formErrorContent {
	width: 100%; background: #242424; position:relative; color: #fff; min-width: 120px; font-family: tahoma; font-size: 11px;
	padding: 4px 10px 4px 10px; border-radius: 4px; text-align:left;
}

.formError.inline .formErrorContent {
	display: inline-block; background: none; color: #ff0000; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;
	-o-box-shadow: none; padding: 6px 0px 0px 6px; border-radius: 0;}

.greenPopup .formErrorContent {background: #33be40;}

.blackPopup .formErrorContent {background: #393939; color: #FFF;}
.formError .formErrorArrow { width: 15px; margin: -2px 0 0 13px; position:relative;}

body[dir='rtl'] .formError .formErrorArrow, body.rtl .formError .formErrorArrow {margin: -2px 13px 0 0;}
.formError .formErrorArrowBottom {box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; margin: 0px 0 0 12px; top:2px;}
.formError .formErrorArrow div {border-left: 2px solid #ddd; border-right: 2px solid #ddd; box-shadow: 0 2px 3px #444; -moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;	-o-box-shadow: 0 2px 3px #444; font-size: 0; height: 1px; background: #242424; margin: 0 auto; line-height: 0; display: block;}
.formError .formErrorArrowBottom div {box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none;}

.greenPopup .formErrorArrow div {background: #33be40;}
.blackPopup .formErrorArrow div {background: #393939; color: #FFF;}

.formError .formErrorArrow > div{display:none;}
.formError .formErrorArrow{width:0; height:0; border-style:solid; border-width:8px 8px 0 8px; border-color: #242424 transparent transparent transparent; margin:0 0 0 16px; position:relative;}
.formError .formErrorArrow.formErrorArrowBottom{border-width: 0 8px 8px 8px;border-color: transparent transparent #242424 transparent; margin:3px 0 2px 13px;}

.greenPopup .formErrorArrow,
.greenPopup .formErrorArrow.formErrorArrowBottom{border-color: #33be40 transparent transparent transparent;}

.cck-tab-required > a{color:#ff0000!important;} /*.cck-tab-required > a:after{content:" *";}*/

.formError.parentFormseblod_form_component, .formError.parentFormseblod_form_raw{z-index:1051;}